.Index {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.Index-Last10 {
  width: 30rem;
}

.Index-Last10 > caption {
  caption-side: top;
}
